/*****
Custome CSS
**/
.header .left-top-bar {
  border: none !important;
  margin-top: 7px;
}
.left-top-bar .profile {
  margin: 5px;
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 1em;
  width: 250px;
  display: flex;
}
.left-top-bar .dropdown-menu {
  /* min-width: 220px; */
}
.source-button button {
  background: #000;
  border: none;
}
.source-button button:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn-primary {
  background-color: #002b49 !important;
  margin-right: 5px !important;
  /* background-color: #25c6fe !important; */
}

.btn-primary:hover {
  /* border-color: #25c6fe !important; */
  border-color: #002b49 !important;
}

.btn-danger {
  /* background-color: #25c6fe !important; */
  background-color: #002b49 !important;
}
.btn-danger:hover {
  background-color: #002b49 !important;
  /* background-color: #25c6fe !important; */
  border: none !important;
}

.save-btn {
  color: white !important;
}

.auth-btn {
  background-color: #002b49 !important;
}

.source-button.dropdown {
  margin-left: 62px;
}
.dropdown-menu {
  width: 98%;
}

.Sidebar_bottomLinks__2HIUf {
  width: 100%;
}

.Sidebar_sidebarWrapper__2AFqc .Sidebar_bottomLinks__2HIUf {
  bottom: 5px !important;
}

/*Scroll Hidden*/
nav.Sidebar_root__1FSXo {
  overflow-y: clip !important;
}

.LinksGroup_headerLink__1yg6A
  a.LinksGroup_headerLinkActive__2FQhW
  .LinksGroup_icon__3xIpG {
  background-color: #002b49 !important;
}

span.icon.LinksGroup_icon__3xIpG {
  margin-top: 5px !important;
}

.sidebar-nav-links a span {
  font-size: 13px !important;
  top: 0px !important;
}

