/*****
Custome CSS
**/
.header .left-top-bar {
  border: none !important;
  margin-top: 7px;
}
.left-top-bar .profile {
  margin: 5px;
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 1em;
  width: 250px;
  display: flex;
}
.left-top-bar .dropdown-menu {
  min-width: 220px;
}
.source-button button {
  background: #000;
  border: none;
}
.source-button button:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.mobile-preview .mobile-header {
  padding-left: 90px !important;
}
