.myLinksGallery {
    margin: 0 auto;
    width: 87% !important;
}

.myLinks {
    cursor: pointer;
}

.links {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 6px;
    font-size: 15px;
    width: 100%;
}