/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 760px) {

    .mobile-preview .visit-website {
        margin-bottom: 10px;
        width: 89%;
    }

    // body {
    //     overflow: hidden;
    // }




    iframe {
        display: none;
    }

    .right-bar {
        display: none;
    }

    .auth-logo i {
        display: none;
    }

    .auth-logo img {
        width: 200px;
        height: 50px;
    }

    .modal {
        display: block;
    }


    .header {
        display: none;
    }

    .source-button {
        // margin: 0 auto;
        margin-top: 3px;
    }



    .source-button button {
        width: 100%;
        font-size: 13px;
        border-radius: 1em;
        text-align: left;
    }

    .modal .image-box img,
    .modal .image-box video {
        width: 150px;
        height: 150px;

    }

    .image-box-info h4 {
        display: none;
    }

    .bottom-links {
        position: absolute;
        bottom: -500px;
    }

    .modal-header .close {
        font-size: 45px;
        position: absolute;
        right: 10px;
        color: black;
        top: 0;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
    .mobile-header-responsive {
        position: sticky;
        top: 0;
        left: 0;
        background: white;
        z-index: 3234234;
        position:relative;
    }

    .top-logo {
        display: block !important;
        place-content: center;
        width: 132px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        z-index: 999;
    }

    .top-logo .logo img {
        width: 120px;

    }

    .navbar {
        height: 38px;
    }

    .header {
        flex-direction: column;
    }

    .mobile-menu ul {
        margin-top: 5px;
    }

    .mobile-menu ul li a {
        font-weight: 100 !important;
        font-size: 16px;
    }

    .mobile-menu ul li a span {
        top: 3px !important;
        font-size: 15px !important;
    }
    .mobile-menu ul li a.activenav span span{
        top:0 !important;
    }

    .mobile-menu ul li {
        border-bottom: 1px solid #c8c8c8;
    }

    .mobile-menu {
        display: block;
        z-index: 99;
        background: none !important;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding:0 !important;
    }

    .mobile-menu .navbar-collapse {
        background: white !important;
    }

    .navbar-light .navbar-toggler {
        color: white;
        margin-left:1.5rem !important;
    }

    .header .linkin-text {
        display: none;
        text-align: center;
    }


    .left-top-bar .your-copy-link .item-a a {
        font-size: 13px;
    }

    .mobile-preview {
        margin-top: 21px;
        width: 250px;
    }
    .mobile-preview .mobile-gallery{
        width: 210px;
        height: 355px;
    }
    .mobile-preview .custome_link{
        width: 190px !important;
        height:275px !important;
    }
    .mobile-preview .visit-website{
        width:210px;
    }

    .top-mobile-header {
        display: flex;


    }

    .top-mobile-header .logo {
        z-index: 100;
        justify-content: center;
        align-items: center;
    }

    .top-mobile-header .logo img {
        width: 101px;
        margin-top: 10px;
    }


    .mobile-menu .navbar-nav {
        width: 100vh;
        height: 94vh;

    }

    .left-top-bar {
        justify-content: right;

    }


}

/**larger screen greater than 768 */
@media only screen and (min-width: 991px) {
    .top-mobile-header {
        display: none;
    }
}


@media only screen and (max-width: 500px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 991px) {


    .sidebar {
        display: none !important;
    }

    .main-container .left-top-bar {
        display: none;
    }

    .left-top-bar {
        border-bottom: none;
        justify-content: flex-end !important;
        padding: 0;
        margin-top: 1.5rem;
    }

    .top-mobile-header :nth-child(3) {
        justify-content: flex-end !important;
    }
    .LayoutWrap{
        margin-left:0 !important;
    }
    


}


@media only screen and (max-width: 375px) {
    .source-button.dropdown {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 991px) {
    .mobile-menu ul li a {
        font-size: 14px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

}

::-webkit-scrollbar-thumb {
    background: #010b40 !important;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray !important;
}

.source-button button {
    /* border: 1px solid #e1e1ee; */
    background: #fff !important;
    color: #364554;
}

.source-button button:hover,
.source-button button:focus {
    color: #364554 !important;
    background-color: #fff !important;
    border-color: #000 !important;
}

@media only screen and (max-width: 512px) {

    .source-button {
        border: 1px solid #c8c8c8;
        margin-top: 15px;
    }

    .mobile-preview .mobile-header {
        padding: 5px 17px 9px 20px;
    }

    .mobile-preview .mobile-header .page-name {
        display: block;
        position: absolute;
        right: 10px;
        top: 12px;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .mobile-preview {
        background: none !important;
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }

    .mobile-preview .mobile-gallery {
        width: 100% !important;
        /* overflow: hidden !important; */
        height: 600px !important;
    }

    .mobile-preview .mobile-gallery .row {
        margin: 0 !important;
        width: 100% !important;
    }

    .mobile-preview .mobile-gallery .row .col-4 {
        margin: 0 !important;
        padding: 0 !important;
    }

    .mobile-preview .mobile-gallery .mobile-image-box {
        width: 100% !important;
        height: 135px !important;
    }

    .body-bio-shop .mobile-preview .mobile-gallery .linked-label {
        display: none;
    }

    .mobile-preview .mobile-gallery .linked-label {
        width: auto !important;
        left: 0 !important;
    }

    .mobile-preview .mobile-gallery .linked {
        border: none !important;
    }

    .navbar-light .navbar-toggler {
        border: none;
    }

    .source-button.dropdown {
        // margin-left: 123px;
    }


    .left-column {
        border: none !important;
    }
}