/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 760px) {


    iframe {
        display: none;
    }

    .right-bar {
        display: none;
    }

    .auth-logo i {
        display: none;
    }

    .auth-logo img {
        width: 200px;
        height: 50px;
    }

    .modal {
        display: block;
    }


    .header {
        display: none;
    }

    .source-button {
        margin: 0 auto;
        margin-top: 3px;
    }



    .source-button button {
        width: 100%;
        font-size: 13px;
        border-radius: 1em;
        text-align: left;

    }

    .modal .image-box img,
    .modal .image-box video {
        width: 150px;
        height: 150px;

    }

    .image-box-info h4 {
        display: none;
    }

    .bottom-links {
        position: absolute;
        bottom: -500px;
    }

    .modal-header .close {
        font-size: 45px;
        position: absolute;
        right: 10px;
        color: black;
        top: 0;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {

    .navbar {
        height: 38px;
    }

    .header {
        flex-direction: column;
    }

    .mobile-menu ul {
        margin-top: 5px;
    }

    .mobile-menu ul li a {
        font-weight: 100 !important;
        font-size: 16px;
    }

    .mobile-menu ul li a span {
        top: 5px;
        font-size: 20px;
        color: black;
    }

    .mobile-menu ul li {
        border-bottom: 1px solid #c8c8c8;
    }

    .mobile-menu {
        display: block;
        z-index: 99;
        background: none !important;
        width: 100%;
    }

    .mobile-menu .navbar-collapse {
        background: white !important;
        margin-left: -23px;
    }

    .navbar-light .navbar-toggler {
        color: white;
    }

    .header .linkin-text {
        display: none;
        text-align: center;
    }

    .left-top-bar {
        justify-content: center;
    }



    .left-top-bar .your-copy-link .item-a a {
        font-size: 13px;
    }

    .mobile-preview {
        margin-top: 21px;
    }

    .top-mobile-header {
        display: flex;

    }

    .top-mobile-header .logo {
        z-index: 100;
        width: 100%;
    }

    .top-mobile-header .logo img {
        width: 101px;
        margin-top: 10px;
    }


    .mobile-menu .navbar-nav {
        width: 100vh;
        height: 70vh;

    }

    .left-top-bar {
        justify-content: left;
        width: 100%;
    }


}

/**larger screen greater than 768 */
@media only screen and (min-width: 991px) {
    .top-mobile-header {
        display: none;
    }
}


@media only screen and (max-width: 500px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
    .linkin-bio .image-edit-box .image-wrapper .image-box img {
        width: 134px;
        height: 162px;

    }


    .mobile-preview {
        margin-top: 0px;
    }

    .pane-button {
        flex-direction: column;
        width: 100%;
    }

    .pane-button button {
        width: 100%;
    }

    .pane-button .remove-link {
        margin-left: 0
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 991px) {

    .top-mobile-header {}

    .sidebar {
        display: none !important;
    }

    .main-container .left-top-bar {
        display: none;
    }

    .left-top-bar {
        border-bottom: none;
    }


}